 
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  width: 1600px;
  margin-left: 0;
}
#first{
    height: 92px;
    align-items: center;
    border: 1px color #FFFFFF;
    margin: 0;
    padding: 16px 120px 16px 16px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
#first .header .header-image{
    width: 139px;
    height: 60px;
}
}
.header .menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #000000;
    font-size: 16px;
  
}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
}
.second{
    background: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0;
    width: 1600px;
    height: 674px;
}
.second .second-box{
    text-align: center;
    justify-content: center;
    padding: 70px 120px 134px 120px;
    
}
.second .second-box .access-box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #469165;
    border-radius: 100px;
    width: 229px;
    background-color: #FFFFFF;
    color: #469165;
    padding: 8px 12px 8px 12px;
}
.second .second-box .access-box .dot-early{
    gap: 6px;
}
.second .second-box .white-green .white{
    color: #FFFFFF;
}
.second-box .white-green .green{
    color: #469165;
} 
.second .second-box .para-box{
    width: 1360px;
    height: 60px;
    text-align: center;
    line-height: 24px;
    margin-top: 16px;
}

.second .second-box .para{
color: #FFFFFF;
font-size: 18px;
}
.second .second-box .para .break{
    display: block;
    margin-top: 12px;
}
.second .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}
.second .buttons .green{
    background-color: #469165;
    color: #FFFFFF;
    display: flex;
    gap: 8px;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 4px;
    height: 52px;
    text-align: center;
    align-items: center;
}
.second .buttons .transparent{
    background-color: transparent;
    display: flex;
    color: #FFFFFF;
    gap: 8px;
    font-size: 16;
    padding:12px 16px;
    border-radius: 4px;
    height: 52px;
    align-items: center;
}
.third {
    border-width: 1360px;
    align-items: center;
    text-align: center;
}
.third .text{
    
}
.third .text .text1{
    color: 001931;
    font-size: 48px;
    font-weight: 700px;
    text-align: center;

}
.third .text .text2{
    height: 20px;
    color: #627382;
    font-size: 16px;
}

.fourth {
    width: 1360px;
    height: 300px;
    align-items: center;
    padding: 120px;
}
.fourth .container{
    display: flex;
    gap: 24px;
    margin-top: 44px;
}

.fourth .card-1{
    display: flex;
    flex-direction: column;
    width: 322px;
    height: 300px;
    align-items: center;
    gap: 16px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px;
}
.fourth .container .card-1 .pic1{
    border: 1px solid #F95555;
    padding: 32px 32px;
    border-radius: 50%;
    background-color: #F95555;
}
.fourth .container .card-1 .font{
    font-size: 24px;
}

.fourth .card-2{
    display: flex;
    flex-direction: column;
    width: 322px;
    height: 300px;
    align-items: center;
    gap: 16px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px;
}
.fourth .container .card-2 .pic2{
    border: 1px solid #F95555;
    padding: 32px 32px;
    border-radius: 50%;
    background-color: #F95555;
}
.fourth .container .card-2 .font{
    font-size: 24px;
}

.fourth .card-3{
    display: flex;
    flex-direction: column;
    width: 322px;
    height: 300px;
    align-items: center;
    gap: 16px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px;
}
.fourth .container .card-3 .pic3{
    border: 1px solid #F95555;
    padding: 32px 32px;
    border-radius: 50%;
    background-color: #F95555;
}
.fourth .container .card-3 .font{
    font-size: 24px;
}

.fourth .card-4{
    display: flex;
    flex-direction: column;
    width: 322px;
    height: 300px;
    align-items: center;
    gap: 16px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px;
}
.fourth .container .card-4 .pic4{
    border: 1px solid #F95555;
    padding: 32px 32px;
    border-radius: 50%;
    background-color: #F95555;
}
.fourth .container .card-4 .font{
    font-size: 24px;
}

.fifth {
    width: 1360px;
    height: 600px;
    margin: 120px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 120px 120px 120px 120px;
}
.fifth .firstbox{
    width: 600px;
    height: 600px;
}
.five .anotherbox{
    display: flex;
    width: 700px;
    height: 397px;
    gap: 40px;
    padding: 102px 0 102px 40px;

}
.fifth .box1 .t{
    color: #469165;
    font-size: 16px;
}
.fifth .box1 .hd{
    color: #001931;
    font-size: 48px;
}
.fifth .box1 .tx{
    color: #627382;
    font-size: 16px;
    margin-top: 16px;
}
.fifth .box2{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
}
.fifth .box2 .item{
    display: flex;
    align-items: center;
    gap: 10px;
}