 
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
#first{
    width: 1600px;
    height: 92px;
    align-items: center;
    border: 1px color #FFFFFF;
    margin: 0 auto;
    padding: 16px 120px 16px 16px;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
#first .header .header-image{
    width: 139px;
    height: 60px;
}
}
.header .menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #000000;
    font-size: 16px;
  
}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
}
